p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

li {
    list-style-type: none;
}

a {
 text-decoration: none;
}

.header-block {
    display: flex;
    align-items: center;
}

.header__logo-section {
    display: flex;
    align-items: center;
    margin-right: 110px;
}

.logo-icon {
    display: flex;
}

.logo-title {
    display: flex;

}
.header-block__nav {
    display: flex;
    align-items: center;
    margin-right: 110px;
}

.header-block__btn {
    display: flex;
    align-items: center;
}